<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>az</display-name>

	<!-- 监听服务 -->
	<listener>
		<javaee:listener-class>com.allzai.system.ServerListener
		</javaee:listener-class>
	</listener>

	<!-- 响应状态 -->
	<servlet>
		<servlet-name>AliveAction</servlet-name>
		<servlet-class>com.allzai.action.alive.AliveAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AliveAction</servlet-name>
		<url-pattern>/private/alive</url-pattern>
	</servlet-mapping>

	<!-- 文件上传 -->
	<servlet>
		<servlet-name>FileUpload</servlet-name>
		<servlet-class>com.allzai.action.upload.FileUploadAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUpload</servlet-name>
		<url-pattern>/secure/fileUpload</url-pattern>
	</servlet-mapping>

	<!-- 系统配置 -->
	<servlet>
		<servlet-name>GetSysConfig</servlet-name>
		<servlet-class>com.allzai.action.system.GetSysConfigAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSysConfig</servlet-name>
		<url-pattern>/public/getSysConfig</url-pattern>
	</servlet-mapping>

	<!-- 用户注册 -->
	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>com.allzai.action.user.UserRegisterAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/public/userRegister</url-pattern>
	</servlet-mapping>

	<!-- 用户登录 -->
	<servlet>
		<servlet-name>UserLogin</servlet-name>
		<servlet-class>com.allzai.action.user.UserLoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserLogin</servlet-name>
		<url-pattern>/public/userLogin</url-pattern>
	</servlet-mapping>

	<!-- 快速登录 -->
	<servlet>
		<servlet-name>QuickLogon</servlet-name>
		<servlet-class>com.allzai.action.guest.QuickLogonAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QuickLogon</servlet-name>
		<url-pattern>/public/quickLogon</url-pattern>
	</servlet-mapping>

	<!-- 设备上报 -->
	<servlet>
		<servlet-name>DeviceReport</servlet-name>
		<servlet-class>com.allzai.action.device.DeviceReportAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeviceReport</servlet-name>
		<url-pattern>/public/deviceReport</url-pattern>
	</servlet-mapping>

	<!-- 安装上报 -->
	<servlet>
		<servlet-name>InstallReport</servlet-name>
		<servlet-class>com.allzai.action.device.InstallReportAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InstallReport</servlet-name>
		<url-pattern>/public/installReport</url-pattern>
	</servlet-mapping>

	<!-- 游戏通知 -->
	<servlet>
		<servlet-name>GameNotice</servlet-name>
		<servlet-class>com.allzai.action.notice.GameNoticeAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GameNotice</servlet-name>
		<url-pattern>/public/gameNotice</url-pattern>
	</servlet-mapping>

</web-app>