<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>allzai</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.allzai.listener.ServerListener</listener-class>
	</listener>

	<filter>
		<filter-name>UrlRewrite</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewrite</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>StartupServlet</servlet-name>
		<servlet-class>com.allzai.listener.StartupServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartupServlet</servlet-name>
		<url-pattern>/startup</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SmartCode</servlet-name>
		<servlet-class>com.code.SmartCode</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SmartCode</servlet-name>
		<url-pattern>/smartCode</url-pattern>
	</servlet-mapping>

</web-app>