<?xml version="1.0" encoding="UTF-8"?>
<!-- - Copyright 2012 Google Inc. - - Licensed under the Apache License, 
	Version 2.0 (the "License"); you may not - use this file except in compliance 
	with the License. You may obtain a copy - of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
	- - Unless required by applicable law or agreed to in writing, software - 
	distributed under the License is distributed on an "AS IS" BASIS, WITHOUT 
	- WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the 
	- License for the specific language governing permissions and limitations 
	- under the License. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <welcome-file-list>
    <welcome-file>push/index.html</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>AccessPermission</filter-name>
    <filter-class>check.filter.AccessFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AccessPermission</filter-name>
    <url-pattern>/secure/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.google.android.gcm.server.ApiKeyInitializer</listener-class>
  </listener>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.google.android.gcm.server.RegisterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/public/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnregisterServlet</servlet-name>
    <servlet-class>com.google.android.gcm.server.UnregisterServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnregisterServlet</servlet-name>
    <url-pattern>/public/unregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendAllMessagesServlet</servlet-name>
    <servlet-class>com.google.android.gcm.server.SendAllMessagesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendAllMessagesServlet</servlet-name>
    <url-pattern>/secure/sendAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.google.android.gcm.server.HomeServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/secure/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadAllUserServlet</display-name>
    <servlet-name>LoadAllUserServlet</servlet-name>
    <servlet-class>servlet.LoadAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadAllUserServlet</servlet-name>
    <url-pattern>/secure/loadAllUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>servlet.AdminServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/private/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DailyPushServlet</display-name>
    <servlet-name>DailyPushServlet</servlet-name>
    <servlet-class>servlet.DailyPushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailyPushServlet</servlet-name>
    <url-pattern>/public/daily</url-pattern>
  </servlet-mapping>
</web-app>